body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FBF7DE;

  /* To center the content, but loses responsiveness */
  min-height: 100vh; /* Ensure body takes up full viewport height */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to top */
}

@font-face {
  font-family: 'Ring';
  src: url('/fonts/bianzhidai-Ring.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-align: center;
  color: #EDB3C9;
  font-family: 'Ring';
  font-size: 120px;
}
